<footer class="fixed-bottom">
  <mat-toolbar color="primary">
<div *ngIf="connected">
    <button mat-icon-button id="button-style" routerLink="listUsers/1">
      <fa-icon [icon]="faUsers"></fa-icon>
         Utilisateurs
    </button>
  <button mat-icon-button id="button-style" routerLink="listUsers/2">
    <fa-icon [icon]="faUsers"></fa-icon>
    Consultants
  </button>
    <button mat-icon-button id="button-style" routerLink="listUsers/3">
      <fa-icon [icon]="faTruck"></fa-icon>
         Livreurs
    </button>
    <button mat-icon-button id="button-style">
      <fa-icon [icon]="faShoppingCart"></fa-icon>
         Commandes
    </button>
    <button mat-icon-button id="button-style">
      <fa-icon [icon]="faShoppingBasket"></fa-icon>
         Mes Commandes
    </button>
    <button mat-icon-button id="button-style">
      <fa-icon [icon]="faBox"></fa-icon>
        Produits
    </button>
</div>
  </mat-toolbar>
</footer>
