<footer class="fixed-bottom">

  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-around center">
<div *ngIf="connected">
  <button *ngIf="Admin" mat-button routerLink="welcome">
    <fa-icon [icon]="faTachometerAlt"></fa-icon>
    Dashboard
  </button>
    <button *ngIf="Admin" mat-button routerLink="listUsers/1">
      <fa-icon [icon]="faUsers"></fa-icon>
         Utilisateurs
    </button>
  <button *ngIf="Admin" mat-button routerLink="listUsers/2">
    <fa-icon [icon]="faUsers"></fa-icon>
    Consultants
  </button>
    <button *ngIf="Admin" mat-button routerLink="listUsers/3">
      <fa-icon [icon]="faTruck"></fa-icon>
         Livreurs
    </button>
    <button  mat-button  routerLink="listOrders">
      <fa-icon [icon]="faShoppingCart"></fa-icon>
         Commandes
    </button>
    <button mat-button routerLink="listOrdersByConsultant">
      <fa-icon [icon]="faShoppingBasket"></fa-icon>
         Mes Commandes
    </button>
    <button *ngIf="Admin" mat-button routerLink="listProducts">
      <fa-icon [icon]="faBox"></fa-icon>
        Produits
    </button>
    <button mat-button routerLink="comments">
      <fa-icon [icon]="faComment"></fa-icon>
      Commentaires
    </button>
    <button mat-button routerLink="contacts">
      <fa-icon [icon]="faAddressBook"></fa-icon>
      Requetes de Contacts
    </button>
  </div>
  </mat-toolbar>
</footer>
