#button-style{
  padding-right: 150px;
  padding-left: 150px;
  vertical-align: middle;
}
.mat-toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(59,89,152)
}
