<div>

  <mat-form-field appearance="outline" class="top_right">
    <mat-label>Rechercher</mat-label>
    <input matInput (keyup)="applyFilterClient($event.target.value)" placeholder="Rechercher">
  </mat-form-field>

  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Nom </th>
      <td mat-cell *matCellDef="let element" class="center_elems">{{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Prenom </th>
      <td mat-cell class="center_elems" *matCellDef="let element">{{element.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Email </th>
      <td mat-cell class="center_elems" *matCellDef="let element"> {{element.mail}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Téléphone </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="adress">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Adresse </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.adress}}  </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Nom d'utilisateur </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.username}} </td>
    </ng-container>


    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Role </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.role.label}} </td>
    </ng-container>
    <ng-container matColumnDef="ville">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Ville </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Actions </th>
      <td mat-cell *matCellDef="let element" class="center_elems">
        <button mat-stroked-button (click)="Modifier(element)" class="btn btn-warning" style="margin-right: 10px;">Modifier</button>
        <button mat-stroked-button (click)="Supprimer(element.id)" class="btn btn-danger" style="margin-right: 10px;">Supprimer</button>
        <!-- <button mat-stroked-button (click)="AfficherDetails(element)" class="btn btn-in">Détails</button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <button mat-button routerLink="/addUser/{{userType}}/0" class="btn btn-primary btn-lg" style="margin-top: 20px; margin-left: 45%;">
    {{btnname}}
  </button>
</div>



