.example-spacer {
  flex: 1 1 auto;
}
html, body {
  height: 100%;
  // color: blanchedalmond;
}
// .example-container {
//   width: 500px;
//   height: 300px;
//   border: 1px solid rgba(0, 0, 0, 0.5);
// }

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 20%;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #7e1727;
  border-color: #7e1727;
  color: #ffffff;
}

::ng-deep .btn-primary{
  background: #7e1727;
  border-color: #7e1727;
  color: #ffffff;
}
