<div>

  <mat-form-field appearance="outline" class="top_right">
    <mat-label>Rechercher</mat-label>
    <input matInput (keyup)="applyFilterClient($event.target.value)" placeholder="Rechercher" >
  </mat-form-field>

  <table mat-table [dataSource]="Orders" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="matricule">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear class="center_elems"> Matricule </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.matricule}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="center_elems"> Status </th>
      <td mat-cell *matCellDef="let element" class="center_elems">{{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="ville">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="center_elems"> Ville </th>
      <td mat-cell class="center_elems" *matCellDef="let element">{{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="center_elems"> Client</th>
      <td mat-cell class="center_elems" *matCellDef="let element"> {{element.client_name}} </td>
    </ng-container>

    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="center_elems"> Numéro Client </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> <p style="color: green; font-weight: bold;"> {{element.client_tel}} </p> </td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="center_elems"> Adresse Client </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.client_adress}} </td>
    </ng-container>


    <ng-container matColumnDef="produits">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Liste Produits Commandé </th>
      <td mat-cell *matCellDef="let element" class="center_elems">
        <mat-form-field appearance="outline">
          <mat-label>Produits commandé</mat-label>
          <mat-select >
            <mat-option *ngFor="let val of element.products" value="{{val}}">{{val.label}} x Qté {{val.qteOrdered}}</mat-option>
          </mat-select>
        </mat-form-field></td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef  class="center_elems" mat-sort-header disableClear> Montant Total</th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.total}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Actions </th>
      <td mat-cell *matCellDef="let element" class="center_elems">
        <button *ngIf="element.status === 'Confirmé'" mat-stroked-button [disabled]="element.aborted" (click)="Confirmer(element)"
                class="btn btn-success" style="margin-right: 10px;">Double Confirmer</button>
        <button *ngIf="element.status === 'Double Confirmé'" mat-stroked-button [disabled]="element.aborted" (click)="AssignerLivreur(element)"
                class="btn btn-info" style="margin-right: 10px;">Assigner Livreur</button>
        <button *ngIf="element.status === 'En cours de livraison'" mat-stroked-button (click)="Livre(element)"
                class="btn btn-info" style="margin-right: 10px;">Livré</button>
        <button *ngIf="element.status === 'En cours de livraison'" mat-stroked-button (click)="reporter(element)"
                class="btn btn-info" style="margin-right: 10px;">Reporté</button>
        <button mat-stroked-button [disabled]="element.aborted || element.status === 'En cours de livraison' || element.shipped"
                (click)="Annuler(element)" class="btn btn-danger" style="margin-right: 10px;">Annuler</button>
        <!-- <button mat-stroked-button (click)="AfficherDetails(element)" class="btn btn-in">Détails</button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <!-- button mat-button routerLink="/addProduct/0" class="btn btn-primary btn-lg" style="margin-top: 20px; margin-left: 45%;">
    Ajouter Une Commande
  </button-->
</div>





