<div class="center-card">
  <div class="card container-lg border" >
    <div class="card-header" style="padding: 20px;">
      <p style="color: #7e1727; font-weight: bold; text-decoration: underline; text-align: center;font-size: x-large"> Ajouter Une Commande</p>
    </div>
    <div class="card-body">
      <div class="alert alert-warning" *ngIf="formProduct.dirty && formProduct.invalid">Veuillez Renseigner tous les champs</div>
      <form  #formProduct="ngForm" >
        <div class="row">
        <div  class="col border">
          <div class="row" style="margin-left: 40%">
            <h3 style="font-weight: bold">Informations Clients</h3>
          </div>
          <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Nom et Prénom du client</mat-label>
            <input matInput [(ngModel)]="order.client_name" name="label" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Téléphone du client</mat-label>
            <input matInput [(ngModel)]="order.client_tel" name="reference" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Adresse Email du client</mat-label>
            <input matInput [(ngModel)]="order.client_mail" name="sellingprice" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Adresse Du Client</mat-label>
            <input matInput [(ngModel)]="order.client_adress" name="produceprice" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Ville Du Client</mat-label>
            <input matInput [(ngModel)]="order.city" name="amount" required>
          </mat-form-field>
        </div>
        </div>
        <div class="col border align-items-center">
          <div class="row" style="margin-left: 30%">
            <h3 style="font-weight: bold">  Liste des produits </h3>
          </div>
            <div class="row" style="margin-left: 30%">
            <mat-form-field appearance="outline" style="max-width: 140px">
              <mat-label>Quantité</mat-label>
              <input matInput #qte [(ngModel)]="selectedQTE" type="number" name="quantity" required>
            </mat-form-field>
            </div>
          <div class="row force_center "style="margin-left: 15%">
            <p-listbox [options]="products"
                       [(ngModel)]="selectedProduct"
                       optionLabel="label"
                       name="product"
                       [listStyle]="{ 'max-height': '150px' }"
                       filter="filter">
            </p-listbox>
          </div>
          <br>
          <div class="row force_bottom">
            <button mat-stroked-button (click)="qte.value && addToCart()" class="btn-color">Ajouter Le Produit</button>
          </div>
          <br>
        </div>
          <div class="col border ">
            <div class="row" style="margin-left: 30%">
              <h3 style="font-weight: bold">  Produits Selectionné </h3>
            </div>
            <div class="row " style="margin-left: 30%">
              <div *ngIf="uniqueProduct">
                {{OrdertoSend[0].product.label}} x Qté {{OrdertoSend[0].quantity}}
              </div>
              <div *ngIf="noProduct">
                Pas de produits selectionné
              </div>
            </div>
              <div class="row" style="margin-left: 15%">
              <div *ngIf="multiProducts && update2">
              <p-listbox [options]="SelectedProducts"
                         [(ngModel)]="selectedProductD"
                         optionLabel="label"
                         name="productD"
                         [listStyle]="{ 'max-height': '280px' }"
                         filter="filter">
              </p-listbox>
              </div>
              <div *ngIf="multiProducts && update1">
                <p-listbox [options]="SelectedProducts"
                           [(ngModel)]="selectedProductD"
                           (ngModelChange)="logSel()"
                           optionLabel="label"
                           name="productDdd"
                           [listStyle]="{ 'max-height': '280px' }"
                           filter="filter">
                </p-listbox>
              </div>
            </div>
            <br>
            <div class="row force_bottom">
              <button mat-stroked-button (click)="delFromCart()" class="btn-color" style="margin-top: 10px">Supprimer Le Produit</button>
            </div>

          </div>
        </div>
      </form>
    </div>
    <div class="card-footer" style="padding: 20px;">
      <button mat-stroked-button (click)="!formProduct.invalid && submit()" class="btn-color">Ajouter La commande</button>
      <!--button mat-stroked-button routerLink="/listProducts/{{ProductType}}" >Annuler</button-->
    </div>
  </div>
</div>




