.example-spacer {
  flex: 1 1 auto;
}
::ng-deep .p-menubar {
  padding: 0.5rem;
  background: #121315;
  color: white !important;
  border: 1px solid #121315;
  border-radius: 3px;
}
::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #ffffff;
}
::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
  color: #ffffff;
  margin-right: 0.5rem;
}
::ng-deep .p-menubar .p-menuitem-link .p-menuitem-text {
  color: #ffffff;
}
::ng-deep .p-menubar .p-menuitem-link .p-menuitem-icon {
  color: #ffffff;
  margin-right: 0.5rem;
}
::ng-deep .p-menubar .p-menuitem-link .p-submenu-icon {
  color: #ffffff;
}
::ng-deep .p-menubar .p-submenu-list {
  padding: 0;
  background: #121315;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
  width: 12.5rem;
}
