<div>

  <mat-form-field appearance="outline" class="top_right">
    <mat-label>Rechercher</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
  </mat-form-field>

  <table mat-table [dataSource]="Comments" class="mat-elevation-z8">
    <ng-container matColumnDef="numcom">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Numéro commentaire </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Commentaire </th>
      <td mat-cell *matCellDef="let element" class="center_elems">{{element.comment}} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Nom du commentateur </th>
      <td mat-cell *matCellDef="let element" class="center_elems">{{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Note Attribué </th>
      <td mat-cell class="center_elems" *matCellDef="let element">
        <p class="review-rating" *ngIf="element.rating">
        <!-- 1 star  -->
        <i [class]="(element.rating == 0) ? 'far fa-star' : (element.rating > 0 && element.rating < 1) ? 'fas fa-star-half-alt' : 'fas fa-star'"></i>

        <!-- 2 star  -->
        <i [class]="(element.rating > 1 && element.rating < 2) ? 'fas fa-star-half-alt' : (element.rating >= 2) ? 'fas fa-star' : 'far fa-star'"></i>

        <!-- 3 star  -->
        <i [class]="(element.rating > 2 && element.rating < 3) ? 'fas fa-star-half-alt' : (element.rating >= 3) ? 'fas fa-star' : 'far fa-star'"></i>

        <!-- 4 star  -->
        <i [class]="(element.rating > 3 && element.rating < 4) ? 'fas fa-star-half-alt' : (element.rating >= 4) ? 'fas fa-star' : 'far fa-star'"></i>

        <!-- 5 star  -->
        <i [class]="(element.rating > 4 && element.rating < 5) ? 'fas fa-star-half-alt' : (element.rating >= 5) ? 'fas fa-star' : 'far fa-star'"></i>
      </p> </td>
    </ng-container>
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Produit </th>
      <td mat-cell class="center_elems" *matCellDef="let element">{{element.product.label}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Actions </th>
      <td mat-cell *matCellDef="let element" class="center_elems">
        <button mat-stroked-button (click)="Approuving(element)" class="btn btn-warning" style="margin-right: 10px;">Approuver</button>
        <button mat-stroked-button (click)="Supprimer(element.id)" class="btn btn-danger" style="margin-right: 10px;">Supprimer</button>
        <!-- <button mat-stroked-button (click)="AfficherDetails(element)" class="btn btn-in">Détails</button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <!--button mat-button routerLink="/addProduct/0" class="btn btn-primary btn-lg" style="margin-top: 20px; margin-left: 45%;">
    Ajouter Produit
  </button-->
</div>





