div {
  width: 80%;
  position:absolute;
  left:10%;
  top:10%;

}
table {
  width: 100%;
  max-height: 500px;
  //min-height: 500px;
}
.top_right{
  float: right;
}
.center_elems{
  text-align: center;
}
