<div class="center-card card">
    <div class="card-header" style="padding: 20px;">
     <p style="color: #7e1727; font-weight: bold; text-decoration: underline; text-align: center;font-size: x-large"> {{btnname}} un produit </p>
    </div>
  <div class="card-body">
      <div class="alert alert-warning" *ngIf="formProduct.dirty && formProduct.invalid">Veuillez Renseigner tous les champs</div>
      <form  #formProduct="ngForm" >
        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Libellé du produit</mat-label>
            <input matInput [(ngModel)]="Product.label" name="label" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Réference du produit</mat-label>
            <input matInput [(ngModel)]="Product.reference" name="reference" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Prix du vente du produit</mat-label>
            <input matInput [(ngModel)]="Product.selling_price_HT" name="sellingprice" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Coût de production du produit</mat-label>
            <input matInput [(ngModel)]="Product.producing_price_HT" name="produceprice" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Date Expiration du produit</mat-label>
            <input matInput [(ngModel)]="Product.expiring_date" [matDatepicker]="picker" name="date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Quantité du produit actuelle</mat-label>
            <input matInput [(ngModel)]="Product.amount" name="amount" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Quantité d'approvisionnement du produit</mat-label>
            <input matInput [(ngModel)]="Product.supply_amount" name="supplyamount" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Descritption du produit</mat-label>
            <textarea matInput type="" [(ngModel)]="Product.description" name="desc" required></textarea>
          </mat-form-field>
        </div>

        <!-- div  class="row"-->
          <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Categorie du produit</mat-label>
            <mat-select (select)="logSelection()" [(ngModel)]="Product.category.id" name="Category" required>
              <mat-option *ngFor="let val of cat"  value="{{val.id}}">{{val.label}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col">
            <mat-label>Image du produit
              <input mat-input  name="currentFile" type ="file" accept="image/*" (change)="onFileChange($event)"/>
            </mat-label>
          </div>
        </div>
      </form>
  </div>
  <div class="card-footer" style="padding: 20px;">
      <button mat-stroked-button (click)="!formProduct.invalid && submit()" class="btn-color btn-lg">{{btnname}}</button>
      <button mat-stroked-button routerLink="/NTPModule/primary-module/listProducts" >Annuler</button>
    </div>
</div>



